

/*************hero-styles-start***********/

.hero{
display:grid;
place-items:center;
min-height:100vh;
}



.hero__container{
margin-top:3rem;
position:relative;
}



.hero__image{
    width:14rem;
    overflow:hidden;
    aspect-ratio:3/4;
    max-height:17rem;
    margin-inline:auto;
    /* border-radius:var(--radius-6); */
    border-radius:7rem 7rem var(--radius-2) var(--radius-2);
}

.hero__image img{
    height:100%;
}

.hero__content{
text-align:center;
margin-top:2rem;
width:40rem;
margin-inline:auto;
}

.hero__content .intro{
    margin-bottom:0.7rem;
}

.hero__content span{
    color:var(--color-secondary);
}

/*hero with background image*/

.hero {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
        ),
        url("./assets/images/paint.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* end*/